@import "bootstrap/variables";

h1, h2, h3, h4 {
    color: $brand-primary; 
}

h1, h2, h3, h4 a{
    color: $brand-primary;
}

h3 {
    text-decoration: underline;
    border-bottom: 1px dotted #dddddd;
    padding-bottom: 10px;
}

ul {
    padding: 0 0 0 5px ;
}

/*      TOP     */
div.logo {
    margin-left: -19px;
}

.top img {
    max-height: 18px;
    max-width: 14px;
}

.top-inner {
    padding: 10px 0;
    margin: 0 auto;
    font: 13px/17px "PT Sans", Arial, sans-serif;
}

.top ul {
    list-style: none;
}

.top .caption {
    border-bottom: 1px dashed;
}

.top a {
    color: #090909;
}

.top a:focus,
.top a:hover,
.top a:active {
    text-decoration: none;
    color: $brand-primary;
}
.top li {
    float: left;
    padding: 0 1em 0 0;
}

.top li.right{
    float: right;
    position: relative;
}

.top img {
    width: 100%;
}

.dropdown-menu-right{
    left: auto;
    right: 0;
}

.top .dropdown-menu-right li {
    width: 100%;
    padding: 0;
}

.ic {
    font-size: 20pt;
    margin: -3px 0 0 0;
    display: block;
    float: left;
}

/*   HEAD   */
.header .container {
    /*padding: 0;*/
}    
    
.header .left-c {
    width: 50%;
    margin: 0;
    padding: 0;
    float: left;
}

.header .left-c .logo{
    float: left;
    /*width: 50%;*/
}

.header .left-c .contacts{
    float: left;
    font: 700 26px/38px "PT Sans", Arial, sans-serif;
    margin: 10px 0;
    /*width: 50%;*/
    min-width:  235px;
    text-align: center;
}

.colored {
    color: $brand-primary;
}

.header .left-c .contacts .code{
    margin: 15px 10px;
} 

.header .left-c .contacts .address{
    font:  13px/17px "PT Sans", Arial, sans-serif;
}    

.header .right-c {
    width: 50%;
    margin: 0;
    padding: 0;
    float: right;
}

#search {
    margin: 25px 0 0 0;
}  
    
.header .shop-features {
    padding: 15px 0 0 0;
}    
    
.header .shop-features .icons {
    color: $brand-primary;
    font: 30px/42px "Pe-icon-7-stroke", Arial, sans-serif;
}   

.header .shop-features ul {
    list-style: none;
    overflow: hidden;
}

.header .shop-features li {
    float: right;
    margin: 0 5px 0 0;
}

.header .shop-features .icon {
    float: left;
}   

.header .shop-features .sf-wrap{
    float: left;
    padding: 0 10px;
} 

.header .shop-features .sf-wrap.icon {
    padding: 0 10px;
}

.header .shop-features .sf-wrap-t{
    float: right;
    font-size: 12px;
}       

.art-menu {
    margin: 3px 0 0 0;
}

.art-menu ul.menu {
    list-style: none;
    padding: 0;
    position: relative;
}

.art-menu ul.menu li {
    display: inline;
    padding: 4px;
    float: left;
    margin: 0 15px 0 0;
    padding: 11px 14px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.art-menu ul.menu li.active {
    border: 1px solid #dadada;
}

.art-menu ul.menu li span{
    font: 15px/20px "PT Sans", Arial, sans-serif;
}

.art-menu ul.menu li a,
.art-menu ul.menu li a:active,
.art-menu ul.menu li a:hover,
.art-menu ul.menu li a:focus {
    text-decoration: none;
    color: #090909;
}  

.art-menu ul.menu li.other {
    position: relative;
}  

.art-menu ul.menu li.other a {
    padding: 4px 10px;
    height: auto;
    text-align: right;
} 

.art-menu ul.menu li.other div.js-menu-othercol a:hover {
    text-decoration: underline;
}  

li#home {
    padding: 0;
    background-color: $brand-primary;
    padding: 0 8px;
}

li#home span{    
    font: 25px/42px "Pe-icon-7-stroke", Arial, sans-serif;
}

li#home a {
    /*margin: 0 7px;*/
    color: $body-bg;//white;
}

.search .btn {
    font-size: 20px;
    line-height: 16px;
}
/*  MENU  */

.cat-menu {
    margin: 3px 0 0 0;
}

.cat-menu .wrap {
    background-color: $brand-primary;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    overflow: visible;
    height: 45px;
}

.cat-menu ul.menu {
    padding: 0;
    border-radius: 5px;
    position: relative;
}
    
.cat-menu ul.menu li {
    display: inline;    
    float: left;
    /*margin: 0 15px 0 0;
    padding: 4px;*/
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0;
}

.cat-menu ul.menu li.active {
    background-color: $body-bg;//white;
    border: 1px 1px 0 1px solid #f0f0f0;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
    position: relative;
    height: 45px;
}

.cat-menu ul.menu li.active.hasInner,
.cat-menu ul.menu li.active.other {
    height: 51px;
}


.cat-menu ul.menu li a {
    padding: 11px 15px;
    /*display: inline-block;*/
    height: 49px;
}   

.cat-menu ul.menu li.other a {
    padding: 4px 10px;
    height: auto;
    text-align: right;
} 

.cat-menu ul.menu li.other div.js-menu-othercol a:hover {
    text-decoration: underline;
}

div.catalog-2nd-level {
    background-color: $body-bg;//white;
    border-radius: 0 5px 5px 5px;
    box-shadow: 2px 5px 6px rgba(0,0,0,0.5);
    z-index: 3; 
}

ul.menu li div.catalog-2nd-level{
    display: none;
    /*width: 360px;*/
}

ul.menu li.active div.catalog-2nd-level{
    border: 1px solid transparent;
    display: block;
    position: absolute;
    top: 44px;
    left: -1px;
    border: 0 1px 1px 1px solid #f0f0f0;
    /*width: 250px;*/
    overflow: hidden;
}

ul.menu li.active.other div.catalog-2nd-level{
    border-radius: 5px 0  5px 5px;
}

.cat-menu ul.menu li a.menu2 {
    margin: 0;
    /*padding: 4px 8px;*/
}

.cat-menu ul.menu li a {
    text-decoration: none;
    color: $body-bg;//white;
}    

.cat-menu ul.menu li a:hover,
.cat-menu ul.menu li a:active,
.cat-menu ul.menu li a:focus,
.cat-menu ul.menu li a:visited,
.cat-menu ul.menu li.active a {
    color: $body-bg;//#090909;
}

.cat-menu ul.menu li.frst-level.active a,
.cat-menu ul.menu li.frst-level.active a:hover,
.cat-menu ul.menu li.frst-level.active a:active,
.cat-menu ul.menu li.frst-level.active a:focus,
.cat-menu ul.menu li.frst-level.active a:visited,
.cat-menu ul.menu li.other a:hover,
.cat-menu ul.menu li.other a:active,
.cat-menu ul.menu li.other a:focus,
.cat-menu ul.menu li.other a:visited,
.cat-menu ul.menu li.other.active a {
    color: #090909;
}

.cat-menu ul.menu li.hasInner.active a,
.cat-menu ul.menu li.hasInner.active a:hover,
.cat-menu ul.menu li.hasInner.active a:active,
.cat-menu ul.menu li.hasInner.active a:focus,
.cat-menu ul.menu li.hasInner.active a:visited{
    color: $brand-primary;
}

.cat-menu ul.menu li ul {
    /*display: none;*/
    padding: 0;
}

.cat-menu ul.menu li.other,
.art-menu ul.menu li.other {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

ul.menu li.active ul li,
ul.menu li.active ul li.active{
    border: 1px solid transprent;
    box-shadow: none;
    margin: 0;
    padding: 0;
    display: inline;
    height: auto;
   /* position: initial;*/
}

ul.menu li.active.other ul li,
ul.menu li.active.other ul li.active{
    float: none;
    display: block;
}  

ul.menu li.active.other div.catalog-2nd-level {
    width: auto;
    right: -1px;
}    

.cat-menu ul.menu li ul li a,
.cat-menu ul.menu li ul li a:active,
.cat-menu ul.menu li ul li a:hover,
.cat-menu ul.menu li ul li a:focus {
    text-decoration: none;
    color: #090909; /*#26c2f1;*/
    padding: 10px 15px;
    height: auto;
}

.cat-menu ul.menu li ul li a:hover{
    text-decoration: underline;
}

.js-menu-col {
    width: 33.33333333%;
    float: left;
}

.js-menu-othercol {
    width: 100%;
}

.cat-menu .js-menu-col a.menu2 {
    display: block;
    height: auto;
}

.js-menu-othercol a {
    display: block;
}

ul.menu li div.js-menu-col a.menu2 {
    color: #01539F;
    padding: 4px 10px;
}

ul.menu li div.js-menu-col a.menu2:hover {
    text-decoration: underline;
}

.js-menu-othercol a {
    display: none;
}
/*      BANNER      */
/*.banner-inner {
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
    height: 180px;
    background-position: center;
}*/

img.banner-inner {
    width: 100%;
}

/*      PHONE MENU      */
.phone-menu ul.menu {
    display: inline-block;
    width: 100%;
    overflow: visible;
    height: 50px;
}

.phone-menu ul {
    list-style: none;
    padding: 0;
    margin: 10px auto 5px;
}

.phone-menu ul li.group {
    color: $body-bg;
}

.phone-menu ul li {
    display: inline-block;
    font-weight: bold;
}

.phone-menu ul li.main_parent a {
    color: $body-bg;
}

.phone-menu ul li a:active,
.phone-menu ul li a:hover,
.phone-menu ul li a:visited{
    text-decoration: none;
    color: darken($body-bg, 10%);//#090909;
}

.phone-menu ul li.btn {
    padding: 7px 0;
    border: 1px solid #dadada;
    margin-right: 3px;
}  

.phone-menu ul li.l_logo {
    margin-left: -6px;
    margin-right: -3px;
    text-align: center;
}

.phone-menu ul li img {
    height: 49px;
}

.ph_mnu {
    background-color: $brand-primary;//#ffd203;
}

.phone-menu ul li a{
    display: inline-block;
}    

.phone-menu li.main_parent, 
.phone-menu li.search_parent {
    font: 25px/34px "Pe-icon-7-stroke", Arial, sans-serif;
}

.phone-menu{
    display: none;
    margin: 3px 0;
}

.phone-menu ul li ul.second_level {
    position: absolute;
    z-index: 3;
    background-color: lighten($brand-primary, 15%);//rgb(247, 229, 149);
    border: 1px solid $brand-primary;
    left: -1px;
    display: none;
}

.phone-menu ul li ul.second_level a, 
.phone-menu ul li ul.second_level a:visited {
    color: darken($body-bg, 5%);
}

.phone-menu ul li.active ul.second_level {
    display: block;
}    

.phone-menu ul li ul.second_level li.group {
    background-color: $brand-primary; 
}

.phone-menu ul li ul.second_level li {
    width: 100%;
    display: block;
    text-align: left;
    padding: 0px 10px;
    font-weight: normal;
    font-size: 11pt;
    border-bottom: 1px dashed #dadada;
}

.phone-menu #search_wrap {
    height: 50px;
    position: absolute;
    z-index: 3;
    top: -1px;
    background: $body-bg;//white;
    border-radius: 5px;
    border: 1px solid #dadada;
    padding: 0;
    display: none;
}

.phone-menu ul li.active #search_wrap{
    display: block;
}

.phone-menu #search_wrap #search {
    margin: 7px 0 0 10px;
    float: left;
    /*position: initial;
    top: -17px;
    left: 10px;*/
    line-height: 0;
}

.phone-menu #search_wrap #search span.input-group-btn {
    line-height: 0;
}

.phone-menu #search_wrap #search  .input-group-btn{
    line-height: 1; 
}

.phone-menu #search_wrap .s_close {
    float: right;
    border: 1px solid #dadada;
    width: 37px;
    height: 37px;
    margin: 5px;
}

.phone-menu #search_wrap .s_close span {
    font-size: 25pt;
    margin: -5px -10px;
}

/*       CATALOG LIST MAINPAGE  (b)      */

div.product-grid div.product-thumb div.image img {
    margin: 5px auto;
}

div.product-grid div.product-thumb h4{
    height: 58px;
    overflow: hidden;
}

div.product-grid div.product-thumb div.caption{
    height: 30px;
    overflow: hidden;
}

div.product-grid div.product-thumb div.caption p.price {
    font-size: 13pt;
}

div.product-grid {
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 5px 2px 8px 1px;
    /*width: 24%;*/
    padding: 5px 5px 10px;
}
    
.price-new {
    float: left;
}

.price-old {
    float: right;
    text-decoration: line-through;
    color: red;
}

.show_on_hower {
    display: none;
}

.serv-btns {
    position: absolute;
}

.serv-btns div:hover i{
    font-weight: bold;
}

.serv-btns {
    top: 68%;
    font-size: 19pt;
}

.serv-btns div {
    display: inline;
}

/*       CATALOG LIST MAINPAGE  (e)      */

/*       CATALOG LIST catalog  (b)      */

div.product-grid-catalog {
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 1px 2px 2px 1px;
    /*width: 32%;*/
    padding: 5px 5px 10px;
}

div.product-grid-catalog div.product-thumb div.image img {
    margin: 5px auto;
}

div.product-grid-catalog div.product-thumb h4{
    height: 58px;
    overflow: hidden;
}

div.product-grid-catalog div.product-thumb div.caption{
    height: 30px;
    overflow: hidden;
}

div.product-grid-catalog div.product-thumb div.caption p.price {
    font-size: 13pt;
}
/*       CATALOG LIST catalog  (e)      */

/*       CATALOG DETAIL (b)             */
.item.text-center img {
    margin: 0 auto;
}

ul.thumbnails {
    list-style: none;
}

div.eyeglass {
    border: solid #dadada;
    border-width: 1px;
    border-radius: 5px;
}
/*       CATALOG DETAIL (e)             */

/*       FOOTER                         */
.footer {
    background-color:#f3f3f3;
    border-top: 1px solid #ccc;
}    

@media (min-width: 998px){
    .top {
        background: #f3f3f3;
        border-bottom: 1px solid #ccc;
    }
    
    .top img {
        margin: 0 5px 0 0;
    }
    
    .header .shop-features {
        float: right;
    }
    
    .top-inner {
        padding: 10px 15px;
    }
    
    .top-inner li.right {
        padding: 0;
    }
    
    /*div.product-grid {
        width: 24%;
    }*/
}

@media (max-width: 1000px){
    .sf-wrap {
        display: none;
    }
}

@media (max-width: 998px){
    
    ul {
        padding: 0 0 0 25px ;
    }
    
    .top {
        background: #f3f3f3;
        border-bottom: 1px solid #ccc;
    }
    
    .top .caption {
        display: none;
    }
    
    .top li {
        float: left;
        padding: 0 2em 0 0;
    }
    
    /*.top li.right{
        float: left;
    }*/
    
    /*      HEADER      */
    .header .left-c .logo{
        float: none;
        width: 100%;
    }
    
    .header .left-c .contacts{
        float: none;
        width: 100%;
        margin: 0;
        font: 700 30px/36px "PT Sans", Arial, sans-serif;
        text-align: left;
    }
    
    .header .left-c .contacts .address{
        display: none;
    }
    
    .sf-wrap {
        display: inline;
    }
    
    .header .shop-features {
        padding: 7px 0 0 0;
    } 
    
    #search {
        margin: 20px 0 0 0;
    }
    
    /*div.product-grid {
        width: 32%;
    }
    
    div.product-grid-catalog {
        width: 49%;
    }*/

    div.product-thumb div.caption p.price {
        font-size: 11pt;
        font-weight: bold;
    }
    
    div.product-thumb div.caption{
        height: 25px;
        overflow: hidden;
    }

    div.product-thumb h4{
        height: 50px;
        overflow: hidden;
        font-size: 11pt;
        font-weight: bold;
    }
    
    .serv-btns {
        top: 68%;
        font-size: 19pt;
    }
}   

@media (max-width: 640px){
    .sf-wrap {
        display: none;
    }
    
    .header .shop-features li {
        padding: 7px 0 0 30px;
    } 
    
    div.product-thumb div.caption p.price {
        font-size: 9pt;
        font-weight: bold;
    }
    
    div.product-thumb div.caption{
        height: 20px;
        overflow: hidden;
    }
    
    .serv-btns {
        top: 68%;
        font-size: 19pt;
    }
}    

@media (max-width: 580px){
    .top {
        display: none;
    }
    
    /*      HEADER      */
    .header .left-c .contacts{
        float: none;
        width: 100%;
        margin: 0;
        font: 700 25px/28px "PT Sans", Arial, sans-serif;
    }
    
    .right-c {
        display: none;
    }
    
    .cat-menu, .art-menu {
        display: none;
    }
    
    .phone-menu {
        display: block;
    }
    
    .header {
        display: none;
    }
    
    /*div.product-grid {
        width: 49%;
    }*/
    
    div.product-thumb h4{
        height: 39px;
        overflow: hidden;
        font-size: 10pt;
        font-weight: bold;
    }

    div.product-thumb div.caption{
        height: 25px;
        overflow: hidden;
    }

    div.product-thumb div.caption p.price {
        font-size: 12pt;
        font-weight: bold;
    }
    
    .serv-btns {
        top: 67%;
        font-size: 19pt;
    }
}

@media (max-width: 370px){
    /*div.product-grid {
        width: 99%;
    }
    
    div.product-grid-catalog {
        width: 99%;
    }*/
}