<div id="search" class="input-group">                    
    <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="pe-7s-search"></span></button>
    </span>
</div>