<form>
    <label for="telephone">Ваш телефон:</label>
    <input type="text" name="telephone" placeholder="+7 000 0000000"></input>
    
    <label for="name">Ваше имя:</label>
    <input type="text" name="name" placeholder="Михаил"></input>
    
    <label for="more">Дополнительно:</label>
    <textarea height="5" name="more" placeholder="Хочу записаться на шиномонтаж"></textarea>
</form>